<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">YES VS. NO</h1>
        <button class="button button-clear button-primary" ng-click="feed.modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col"><center><h1>Yes</h1></center></div>
            <div class="col"><center><h1>No</h1></center></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="list">
                    <a class="item item-avatar checked" ng-repeat="user in feed.post.yes">
                        <img ng-src='{{user.image}}'>
                        <h2>{{user.name}}</h2>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="list">
                    <a class="item item-avatar unchecked" ng-repeat="user in feed.post.no">
                        <img ng-src='{{user.image}}'>
                        <h2>{{user.name}}</h2>
                    </a>
                </div>
            </div>
        </div>


        </div>
    </ion-content>
</ion-modal-view>